@import url('https://jlm2017.github.io/theme/dist/theme.css');

.clickable-btn {
  cursor: pointer;
}

.custom-btn {
  cursor: pointer;
  width: 150px;
}

.padding-right {
  padding-right: 100px;
}

.vertical-center {
  display: flex;
  align-items: center;
}
